[submodule "kimcheese-recipe"]
	path = kimcheese-recipe
	url = https://github.com/picaq/recipe-page.git
# [submodule "kimcheese"]
# 	path = kimcheese
# 	url = https://github.com/picaq/recipe-page.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/picaq/bootstrap-4.git
[submodule "kimcheese-boots"]
	path = kimcheese-boots
	url = https://github.com/picaq/recipe-page.git
