[submodule "kimcheese-recipe"]
	path = kimcheese-recipe
	url = https://github.com/picaq/recipe-page.git
# [submodule "kimcheese"]
# 	path = kimcheese
# 	url = https://github.com/picaq/recipe-page.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/picaq/bootstrap-4.git
[submodule "kimcheese-boots"]
	path = kimcheese-boots
	url = https://github.com/picaq/recipe-page.git
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/picaq/portfolio-website.git
[submodule "JS+HTML-Games"]
	path = JS+HTML-Games
	url = https://github.com/picaq/JS-HTML-Games.git
[submodule "eventonica"]
	path = eventonica
	url = https://github.com/picaq/eventonica.git
