// @import "color_schemes/light";
// @import "color_schemes/dark";
// @import "theme-light";
// @import "theme-dark";
// @import "base";

// h1 {color: red !important}

@import "theme-light";
@import "theme-dark";
@import "just-the-docs-switchable.scss";


:root[class^="light-mode"] {
    color-scheme: light;
}


:root[class^="dark-mode"] {
    color-scheme: dark;
}

// :root[class="#{$color-scheme}-mode"] {
//     color-scheme: $color-scheme;
// }



/* debugging */

:root {
    --debugging-color: rgba(255, 192, 203, 0.196);
    --debugging-color: #0000;
}

/* h1 {color: red !important} */

/* typography */

footer ul.nav-list, html.dark-mode footer ul.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 1em;
}

footer .nav-list .nav-list-item .nav-list-link, html.dark-mode footer .nav-list .nav-list-item .nav-list-link {
    padding-right: 1em; padding-left: 0;
    /* transform: translateY(2em); */
}

@media screen and (min-width: 50rem) {
    footer ul.nav-list, html.dark-mode footer ul.nav-list {
        display: inline;
        position: static;
    }
    footer .nav-list .nav-list-item.external .nav-list-link, html.dark-mode footer .nav-list .nav-list-item.external .nav-list-link {
        text-align: right;
        padding-right: 0; padding-left: 0;
        display: inline-block;
    }

    /* search bar */ 
    .search-input-wrap, .search-input, .search {
        // background: var(--debugging-color);
        max-width: 100%;
    }
    .search-active .search-input-wrap {
        // width: auto; // default css value like unsetting
        width: -webkit-fill-available
    }
    .search-results {
        width: auto
    }
}

/* fine typography headings */

h1, h2 {
    transform: translate(-.028em);
}

.J  {
    transform: translate(-.033em);
}

.A {
    transform: translate(-.041em);
}

.B, .D, .E, .F, .H, .K, .L, .N, .P, .R, .T, .U  {
    transform: translate(-.047em);
}

.I, .M, .S, .V, .W, .X, .Y, .Z  {
    transform: translate(-.053em);
}

.site-footer {
    padding-top: 0;
}

.nav-list .nav-list-item .nav-list-link {
    padding-left: 1.055rem;
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item .nav-list-link {
        padding-left: 2.06rem;
    }
}


/* color transitions */

.side-bar + .main .main-header {
    background-color: inherit;
}

a {
    transition: text-decoration-color .16s ease-in-out;
}

.main-content-wrap:not(:hover), footer:not(:hover) {
    a {
        transition: none;
    }
}

h1 { opacity: .92 }

.site-title, h2, h3, h4, h5, h6 {
    opacity: .82;
}

#theme-toggle {
    --diameter: 2rem;
    width: var(--diameter);
    height: var(--diameter);
    margin-right: 1.2rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
    border-radius: 50%;
    background: var(--debugging-color);
	color: inherit;
	border: 2pt solid transparent;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    opacity: 0.66;
    transition: opacity .2s ease-in-out, filter .16s ease-in-out;
}

#theme-toggle:hover {
    opacity: .94;
    filter: contrast(1.3) brightness(.9);
}

.dark-mode #theme-toggle:hover {
    filter: contrast(1.1);
}

#theme-toggle::before {
    content: "🌙";
    content: "🌞";
    content: "🌜";
    content: "🔆";
    content: "🔅";
    font-size: 1.5rem;
    line-height: 0;
    position: relative;
    left: -.2rem;
    top: -.02rem;
    padding: .3rem;
    background: var(--debugging-color);
    border-radius: 37%;
}

@media screen and (min-width: 50rem) {
    #theme-toggle::before {
        right: 2.1rem;
        filter: sepia(0.3) contrast(1.2);
    }
}

.dark-mode #theme-toggle::before {
    content: "🔅";
    content: "🔆";
}

.site-title {
    margin-right: 0;
    padding-right: 0;
    transition: opacity .2s ease-in-out;
}

.dark-mode .site-title:hover, .site-title:hover {
    background-image: none !important;
    opacity: .92;
}

.site-header {
    transition: background-color .17s ease-in-out;
}

.dark-mode .site-header:has(:hover), .site-header:has(:hover) {
    background-color: hsla(223, 61%, 69%, 0.06);
}

#menu-button {
    cursor: pointer;
}

/* swap alpha and numerical counters */

[id="ingredients"] + ol,
[id$="milk" i] + ol,
[id$="juice" i] + ol,
[id$="paste" i] + ol {
  > li::before {
    content: counter(step-counter, lower-alpha);
  }

  > li > ol > li::before {
    content: counter(sub-counter);
  }
  
}
  
[id$="milk"] + ol, [id$="juice"]:first-of-type + ol {
    li:nth-child(n + 2) {
        opacity: 0.7;
    }
    li:nth-child(4), li:nth-child(5) {
        opacity: 0.4;
    }
}
