// @import "color_schemes/light";
// @import "color_schemes/dark";
// @import "theme-light";
// @import "theme-dark";
// @import "base";

// h1 {color: red !important}

@import "theme-light";
@import "theme-dark";
@import "just-the-docs-switchable.scss";


:root[class^="light-mode"] {
    color-scheme: light;
}


:root[class^="dark-mode"] {
    color-scheme: dark;
}

// :root[class="#{$color-scheme}-mode"] {
//     color-scheme: $color-scheme;
// }



/* debugging */

:root {
    --debugging-color: rgba(255, 192, 203, 0.196);
    --debugging-color: #0000;
}

/* h1 {color: red !important} */

/* typography */

footer ul.nav-list, html.dark-mode footer ul.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 1em;
}

footer .nav-list .nav-list-item .nav-list-link, html.dark-mode footer .nav-list .nav-list-item .nav-list-link {
    padding-right: 1em; padding-left: 0;
    /* transform: translateY(2em); */
}

@media screen and (min-width: 50rem) {
    footer ul.nav-list, html.dark-mode footer ul.nav-list {
        display: inline;
        position: static;
    }
    footer .nav-list .nav-list-item.external .nav-list-link, html.dark-mode footer .nav-list .nav-list-item.external .nav-list-link {
        text-align: right;
        padding-right: 0; padding-left: 0;
        display: inline-block;
    }

    /* search bar */ 
    .search-input-wrap, .search-input, .search {
        // background: var(--debugging-color);
        max-width: 100%;
    }
    .search-active .search-input-wrap {
        // width: auto; // default css value like unsetting
        width: -webkit-fill-available
    }
    .search-results {
        width: auto
    }
}

/* fine typography headings */

h1 {
    transform: translate(-.028em);
} 
h2 {
    transform: translate(-.0186666667em);
    transform: translate(-.014em); // -1/2 h1
}

.J, .C, .G, .O, .Q {
    transform: translate(-.033em);
}

h2 {
    &.J, &.C, &.G, &.O, &.Q {
        transform: translate(-.022em); // -2/3 h1
        transform: translate(-.0165em); // -1/2 h1
    }
}

.A {
    transform: translate(-.041em);
}

h2.A {
    transform: translate(-.027em);
    transform: translate(-.0205em);
}

.B, .D, .E, .F, .H, .K, .L, .N, .P, .R, .T, .U  {
    transform: translate(-.047em);
}

h2 {
    &.B, &.D, &.E, &.F, &.H, &.K, &.L, &.N, &.P, &.R, &.T, &.U  {
        transform: translate(-.031em);
        transform: translate(-.0235em);
    }
}

.I, .M, .S, .V, .W, .X, .Y, .Z  {
    transform: translate(-.053em);
}

h2 {
    &.I, &.M, &.S, &.V, &.W, &.X, &.Y, &.Z  {
        transform: translate(-.035em);
        transform: translate(-.0265em);
    }
}

.site-footer {
    padding-top: 0;
}

.nav-list .nav-list-item .nav-list-link {
    padding-left: 1.055rem;
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item .nav-list-link {
        padding-left: 2.06rem;
    }
}


/* color transitions */

.side-bar + .main .main-header {
    background-color: inherit;
}

a {
    transition: text-decoration-color .16s ease-in-out;
}

.main-content-wrap:not(:hover), footer:not(:hover) {
    a {
        transition: none;
    }
}

h1 { opacity: .92 }

.site-title, h2, h3, h4, h5, h6 {
    opacity: .82;
}

#theme-toggle {
    --diameter: 2rem;
    width: var(--diameter);
    height: var(--diameter);
    margin-right: 1.2rem;
    margin-top: 0.3rem;
    margin-left: 1rem;
    border-radius: 50%;
    background: var(--debugging-color);
	color: inherit;
	border: 2pt solid transparent;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    opacity: 0.66;
    transition: opacity .2s ease-in-out, filter .16s ease-in-out;
}

#theme-toggle:hover {
    opacity: .94;
    filter: contrast(1.3) brightness(.9);
}

.dark-mode #theme-toggle:hover {
    filter: contrast(1.1);
}

#theme-toggle::before {
    content: "🌙";
    content: "🌞";
    content: "🌜";
    content: "🔆";
    content: "🔅";
    font-size: 1.5rem;
    line-height: 0;
    position: relative;
    left: -.2rem;
    top: -.02rem;
    padding: .3rem;
    background: var(--debugging-color);
    border-radius: 37%;
}

@media screen and (min-width: 50rem) {
    #theme-toggle::before {
        right: 2.1rem;
        filter: sepia(0.3) contrast(1.2);
    }
}

.dark-mode #theme-toggle::before {
    content: "🔅";
    content: "🔆";
}

.site-title {
    margin-right: 0;
    padding-right: 0;
    transition: opacity .2s ease-in-out;
}

.dark-mode .site-title:hover, .site-title:hover {
    background-image: none !important;
    opacity: .92;
}

.site-header {
    transition: background-color .17s ease-in-out;
}

.dark-mode .site-header:has(:hover), .site-header:has(:hover) {
    background-color: hsla(223, 61%, 69%, 0.06);
}

#menu-button {
    cursor: pointer;
}

// dairy free milks 
/* swap alpha and numerical counters */

[id="ingredients"] + ol,
[id$="milk" i] + ol,
[id$="juice" i] + ol,
[id$="paste" i] + ol {
  > li::before {
    content: counter(step-counter, lower-alpha);
  }

  > li > ol > li::before {
    content: counter(sub-counter);
  }
  
}
  
[id$="milk"] + ol, [id$="juice"]:first-of-type + ol {
    li:nth-child(n + 2) {
        opacity: 0.7;
    }
    li:nth-child(4), li:nth-child(5) {
        opacity: 0.4;
    }
}

/* fade out optional ingredients */

// mushroom marianara dal
[id$="marinara-dal"] ~ [id="ingredients"] + p + ul> li:nth-child(n + 4),
// caramelized miso carrots
[id^="caramelized-miso-carrots"] ~ [id="ingredients"] + ul > li:nth-child(n + 3),
// hot sauce sando
[id^="hot-sauce-sando"] ~ [id="ingredients"] + ul> li:nth-child(n + 4), 
// natto nacho cheese
[id^="natto-nacho-cheese"] ~ [id="ingredients"] + ul> li:nth-child(n + 12), 
[id^="cheesy-peas"] ~ [id="ingredients"] + ul> li:nth-child(n + 10) {
    opacity: 0.7;
}

table th {
    table-layout: auto;
    // width: 100%;
}

th, td {
    min-width: 2em;
}


// youtube video embeds 

iframe {
    max-width: 100%;
    max-height: 100%;
}

.invisible {
    opacity: 0;
    visibility: hidden;
    // display: none;
    height: 0;
    position: absolute;
}

img.invisible {
    display: none;
}

.recipe-image {
    float: right; 
    max-width: calc(57% - 2rem); 
    border-radius: .33rem;
    margin-left: 1rem;
    object-fit: cover;
    // min-width: calc(50vw - 2rem);
}

.main-content img.recipe-image + dl {
    display: grid;
    grid-template: auto / 9em 1fr;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/sarasa/fonts/Iosevka-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/sarasa/fonts/Iosevka-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

code, pre {
  font-family: 'Iosevka', monospace, 'Courier New', Courier, monospace;
  font-size: .95em;
  line-height: 1.27;
}

div.highlighter-rouge div.highlight {
  padding: 1rem;
  border-radius: 0.33rem;
}

/* small & mobile screen search bar customizations */

.search-input { 
  background-color: inherit
}
.search-input-wrap {
  box-shadow: none;
}
.search-label {
  opacity: 0.66;
  transition: opacity .2s ease-in-out;
}
@media screen and (max-width: 49.99rem) {
  .search {
    position: absolute;
    top: 0;
    left: 9.5em;
    right: 6.4em;
  }
  .side-bar + .main .main-header {
    display: block;
  }
  .search-label {
    position: fixed;
    height: 2em;
    padding-top: 1em;
  }
  .search-active .search-label {
    position: absolute;
    display: flex;
    height: 100%;
    padding-left: 1rem;
    padding-top: 0;
  }

  .search-label:hover {
    cursor: pointer;
    opacity: 1;
  }
}

@media screen and (max-width: 31.249rem) {
  .search {
    left: 7em;
    top: -.12rem;
  }
}

/* page breaking for printing */

@media print {
    // good for printing spells page
    .page, .page-break, hr
    // , :has(.toc) p:has(+h2), :has(.toc) p:has(+h3) 
    { break-after: page; }
    // .page, .page-break
    // , :has(.toc) h2 
    // , :has(.toc) h3 
    // { break-before: page; }
    :has(.toc) h2 + h3 { break-before: avoid; }

    // toc on each page
    main {
      margin-left: 16rem;  
      margin-left: 9rem;  
      margin-left: 12rem;
      z-index: 14 !important;
    }

    .toc {
      float: left;
      position: fixed;
      top: 4rem; left: 0;
      top: 0rem; left: -.7rem;
      z-index: 12;
      max-height: 100vh;
      background-color: none;
    }

    ul#markdown-toc {
        padding-left: .75rem !important;
        li::before {
            content: "";
        }
    }
    .table-wrapper {
        box-shadow: 0 0 0 0 transparent;
    }

    footer, .side-bar {
      display: none
    }
        
    * {opacity: 1 !important; color: black}
    h2,h3,h4  {color: darkblue !important}

}
    

// tables customization: flot & shrinking

.table-wrapper, table, th, td  {min-width: 1em; width: auto;}
th, td {
  padding: 0.25rem 0.5rem;
}

h3, .toc, h2 {
  clear: both;
}

:has(.breadcrumb-nav-list-item [href="/blog/games/dnd"]) .table-wrapper:nth-of-type(1) {
  float: left;
  margin-right: 1rem;
}

:has(#spells) .toc ~ .table-wrapper, :has([id$="spells"]) .toc ~ .table-wrapper {
  width: auto;
  float: right;
  margin-left: 1rem;
  max-width: 50%;
}


:has(.breadcrumb-nav-list-item [href="/blog/games/dnd/bard"]) .table-wrapper:nth-of-type(1) {
  float: right;
  margin-right: 1rem;
}
