html.dark-mode {
  .highlight,
  pre.highlight {
    background: #f9f9f9;
    color: #383942;
  }

  .highlight pre {
    background: #f9f9f9;
  }

  .highlight .hll {
    background: #f9f9f9;
  }

  .highlight .c {
    color: #9fa0a6;
  }

  .highlight .err {
    color: #fff;
    background-color: #e05151;
  }

  .highlight .k {
    color: #a625a4;
  }

  .highlight .l {
    color: #50a04f;
  }

  .highlight .n {
    color: #383942;
  }

  .highlight .o {
    color: #383942;
  }

  .highlight .p {
    color: #383942;
  }

  .highlight .cm {
    color: #9fa0a6;
  }

  .highlight .cp {
    color: #9fa0a6;
  }

  .highlight .c1 {
    color: #9fa0a6;
  }

  .highlight .cs {
    color: #9fa0a6;
  }

  .highlight .kc {
    color: #a625a4;
  }

  .highlight .kd {
    color: #a625a4;
  }

  .highlight .kn {
    color: #a625a4;
  }

  .highlight .kp {
    color: #a625a4;
  }

  .highlight .kr {
    color: #a625a4;
  }

  .highlight .kt {
    color: #a625a4;
  }

  .highlight .ld {
    color: #50a04f;
  }

  .highlight .m {
    color: #b66a00;
  }

  .highlight .s {
    color: #50a04f;
  }

  .highlight .na {
    color: #b66a00;
  }

  .highlight .nb {
    color: #ca7601;
  }

  .highlight .nc {
    color: #ca7601;
  }

  .highlight .no {
    color: #ca7601;
  }

  .highlight .nd {
    color: #ca7601;
  }

  .highlight .ni {
    color: #ca7601;
  }

  .highlight .ne {
    color: #ca7601;
  }

  .highlight .nf {
    color: #383942;
  }

  .highlight .nl {
    color: #ca7601;
  }

  .highlight .nn {
    color: #383942;
  }

  .highlight .nx {
    color: #383942;
  }

  .highlight .py {
    color: #ca7601;
  }

  .highlight .nt {
    color: #e35549;
  }

  .highlight .nv {
    color: #ca7601;
  }

  .highlight .w {
    color: #f8f8f2;
  }

  .highlight .mf {
    color: #b66a00;
  }

  .highlight .mh {
    color: #b66a00;
  }

  .highlight .mi {
    color: #b66a00;
  }

  .highlight .mo {
    color: #b66a00;
  }

  .highlight .sb {
    color: #50a04f;
  }

  .highlight .sc {
    color: #50a04f;
  }

  .highlight .sd {
    color: #50a04f;
  }

  .highlight .s2 {
    color: #50a04f;
  }

  .highlight .se {
    color: #50a04f;
  }

  .highlight .sh {
    color: #50a04f;
  }

  .highlight .si {
    color: #50a04f;
  }

  .highlight .sx {
    color: #50a04f;
  }

  .highlight .sr {
    color: #0083bb;
  }

  .highlight .s1 {
    color: #50a04f;
  }

  .highlight .ss {
    color: #0083bb;
  }

  .highlight .bp {
    color: #ca7601;
  }

  .highlight .vc {
    color: #ca7601;
  }

  .highlight .vg {
    color: #ca7601;
  }

  .highlight .vi {
    color: #e35549;
  }

  .highlight .il {
    color: #b66a00;
  }

  .highlight .gu {
    color: #75715e;
  }

  .highlight .gd {
    color: #e05151;
  }

  .highlight .gi {
    color: #43d089;
  }

  .highlight .language-json .w + .s2 {
    color: #e35549;
  }

  .highlight .language-json .kc {
    color: #0083bb;
  }

  .highlight,
  pre.highlight {
    background: #31343f;
    color: #dee2f7;
  }

  .highlight pre {
    background: #31343f;
  }

  .highlight .hll {
    background: #31343f;
  }

  .highlight .c {
    color: #63677e;
  }

  .highlight .err {
    color: #960050;
    background-color: #1e0010;
  }

  .highlight .k {
    color: #e19ef5;
  }

  .highlight .l {
    color: #a3eea0;
  }

  .highlight .n {
    color: #dee2f7;
  }

  .highlight .o {
    color: #dee2f7;
  }

  .highlight .p {
    color: #dee2f7;
  }

  .highlight .cm {
    color: #63677e;
  }

  .highlight .cp {
    color: #63677e;
  }

  .highlight .c1 {
    color: #63677e;
  }

  .highlight .cs {
    color: #63677e;
  }

  .highlight .kc {
    color: #e19ef5;
  }

  .highlight .kd {
    color: #e19ef5;
  }

  .highlight .kn {
    color: #e19ef5;
  }

  .highlight .kp {
    color: #e19ef5;
  }

  .highlight .kr {
    color: #e19ef5;
  }

  .highlight .kt {
    color: #e19ef5;
  }

  .highlight .ld {
    color: #a3eea0;
  }

  .highlight .m {
    color: #eddc96;
  }

  .highlight .s {
    color: #a3eea0;
  }

  .highlight .na {
    color: #eddc96;
  }

  .highlight .nb {
    color: #fdce68;
  }

  .highlight .nc {
    color: #fdce68;
  }

  .highlight .no {
    color: #fdce68;
  }

  .highlight .nd {
    color: #fdce68;
  }

  .highlight .ni {
    color: #fdce68;
  }

  .highlight .ne {
    color: #fdce68;
  }

  .highlight .nf {
    color: #dee2f7;
  }

  .highlight .nl {
    color: #fdce68;
  }

  .highlight .nn {
    color: #dee2f7;
  }

  .highlight .nx {
    color: #dee2f7;
  }

  .highlight .py {
    color: #fdce68;
  }

  .highlight .nt {
    color: #f9867b;
  }

  .highlight .nv {
    color: #fdce68;
  }

  .highlight .w {
    color: #f8f8f2;
  }

  .highlight .mf {
    color: #eddc96;
  }

  .highlight .mh {
    color: #eddc96;
  }

  .highlight .mi {
    color: #eddc96;
  }

  .highlight .mo {
    color: #eddc96;
  }

  .highlight .sb {
    color: #a3eea0;
  }

  .highlight .sc {
    color: #a3eea0;
  }

  .highlight .sd {
    color: #a3eea0;
  }

  .highlight .s2 {
    color: #a3eea0;
  }

  .highlight .se {
    color: #a3eea0;
  }

  .highlight .sh {
    color: #a3eea0;
  }

  .highlight .si {
    color: #a3eea0;
  }

  .highlight .sx {
    color: #a3eea0;
  }

  .highlight .sr {
    color: #7be2f9;
  }

  .highlight .s1 {
    color: #a3eea0;
  }

  .highlight .ss {
    color: #7be2f9;
  }

  .highlight .bp {
    color: #fdce68;
  }

  .highlight .vc {
    color: #fdce68;
  }

  .highlight .vg {
    color: #fdce68;
  }

  .highlight .vi {
    color: #f9867b;
  }

  .highlight .il {
    color: #eddc96;
  }

  .highlight .gu {
    color: #75715e;
  }

  .highlight .gd {
    color: #f92672;
  }

  .highlight .gi {
    color: #a6e22e;
  }

  a {
    background-color: transparent;
  }

  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
  }

  button,
  input {
    /* 1 */
    overflow: visible;
  }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }


  legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    /* 1 */
    /* 1 */
    /* 3 */
    white-space: normal;
    /* 1 */
  }

  body {
    color: #e6e1e8;
    background-color: #27262b;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #toctitle {
    color: #f5f6fa;
  }

  a {
    color: #2c84fa;
    text-decoration: none;
  }

  a:not([class]) {
    text-decoration: underline;
    text-decoration-color: #44434d;
    text-underline-offset: 2px;
  }

  a:not([class]):hover {
    text-decoration-color: rgba(44, 132, 250, 0.45);
  }

  hr {
    background-color: #44434d;
    border: 0;
  }

  blockquote {
    border-left: 3px solid #44434d;
  }

  .side-bar {
    z-index: 0;
    background-color: #27262b;
  }

  @media (min-width: 50rem) {
    .side-bar {
      border-right: 1px solid #44434d;
    }
  }

  .main-header {
    z-index: 0;
    background-color: #27262b;
  }

  @media (min-width: 50rem) {
    .main-header {
      background-color: #27262b;
      border-bottom: 1px solid #44434d;
    }
  }

  @media (min-width: 50rem) {
    .site-header {
      border-bottom: 1px solid #44434d;
    }
  }

  .site-title {
    color: #f5f6fa;
  }

  .site-title:hover {
    background-image: linear-gradient(
      -90deg,
      #201f23 0%,
      rgba(32, 31, 35, 0.8) 80%,
      rgba(32, 31, 35, 0) 100%
    );
  }

  .site-button:hover {
    background-image: linear-gradient(
      -90deg,
      #201f23 0%,
      rgba(32, 31, 35, 0.8) 100%
    );
  }

  .site-footer {
    bottom: 0;
    left: 0;
    color: #959396;
  }

  .icon {
    color: #2c84fa;
  }

  .main-content a {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .main-content ol {
    list-style-type: none;
    counter-reset: step-counter;
  }

  .main-content ol > li::before {
    top: 0.2em;
    left: -1.6em;
    color: #959396;
    counter-increment: step-counter;
  }

  @media (min-width: 31.25rem) {
    .main-content ol > li::before {
      top: 0.11em;
    }
  }

  .main-content ol > li ol {
    counter-reset: sub-counter;
  }

  .main-content ol > li ol > li::before {
    counter-increment: sub-counter;
  }

  .main-content ul {
    list-style: none;
  }

  .main-content ul > li::before {
    color: #959396;
  }

  .main-content .anchor-heading svg {
    color: #2c84fa;
    visibility: hidden;
  }

  .main-content .anchor-heading:hover svg,
  .main-content .anchor-heading:focus svg,
  .main-content h1:hover > .anchor-heading svg,
  .main-content h2:hover > .anchor-heading svg,
  .main-content h3:hover > .anchor-heading svg,
  .main-content h4:hover > .anchor-heading svg,
  .main-content h5:hover > .anchor-heading svg,
  .main-content h6:hover > .anchor-heading svg {
    visibility: visible;
  }

  .main-content summary {
    cursor: pointer;
  }

  .nav-list .nav-list-item .nav-list-link:hover,
  .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(
      -90deg,
      #201f23 0%,
      rgba(32, 31, 35, 0.8) 80%,
      rgba(32, 31, 35, 0) 100%
    );
  }

  .nav-list .nav-list-item .nav-list-expander {
    color: #2c84fa;
  }

  .nav-list .nav-list-item .nav-list-expander:hover {
    background-image: linear-gradient(
      -90deg,
      #201f23 0%,
      rgba(32, 31, 35, 0.8) 100%
    );
  }

  .nav-list .nav-list-item > .nav-list {
    list-style: none;
  }

  .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: #959396;
  }

  .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-expander {
    color: #959396;
  }

  .nav-category {
    border-bottom: 1px solid #44434d;
  }

  .nav-list.nav-category-list
    > .nav-list-item
    > .nav-list
    > .nav-list-item
    > .nav-list-link {
    color: #2c84fa;
  }

  .nav-list.nav-category-list
    > .nav-list-item
    > .nav-list
    > .nav-list-item
    > .nav-list-expander {
    color: #2c84fa;
  }

  .breadcrumb-nav-list-item::after {
    color: #959396;
  }

  .label,
  .label-blue {
    color: #fff;
    background-color: #2869e6;
  }

  .label-green {
    background-color: #009c7b;
  }

  .label-purple {
    background-color: #5e41d0;
  }

  .label-red {
    background-color: #e94c4c;
  }

  .label-yellow {
    color: #44434d;
    background-color: #f7d12e;
  }

  .btn {
    color: #2c84fa;
    text-decoration: none;
    cursor: pointer;
    background-color: #302d36;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    appearance: none;
  }

  .btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25);
  }

  .btn:focus:hover,
  .btn.selected:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.25);
  }

  .btn:hover,
  .btn.zeroclipboard-is-hover {
    color: #227efa;
  }

  .btn:hover,
  .btn:active,
  .btn.zeroclipboard-is-hover,
  .btn.zeroclipboard-is-active {
    text-decoration: none;
    background-color: #2e2b33;
  }

  .btn:active,
  .btn.selected,
  .btn.zeroclipboard-is-active {
    background-color: #29262e;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .btn.selected:hover {
    background-color: #cfcfcf;
  }

  .btn:disabled,
  .btn:disabled:hover,
  .btn.disabled,
  .btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    box-shadow: none;
  }

  .btn-outline {
    color: #2c84fa;
    background: transparent;
    box-shadow: inset 0 0 0 2px #e6e1e8;
  }

  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline.zeroclipboard-is-hover,
  .btn-outline.zeroclipboard-is-active {
    color: #1878fa;
    text-decoration: none;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #e6e1e8;
  }

  .btn-outline:focus {
    text-decoration: none;
    outline: none;
    box-shadow: inset 0 0 0 2px #5c5962, 0 0 0 3px rgba(0, 0, 255, 0.25);
  }

  .btn-outline:focus:hover,
  .btn-outline.selected:focus {
    box-shadow: inset 0 0 0 2px #5c5962;
  }

  .btn-primary {
    color: #fff;
    background-color: #2448a7;
    background-image: linear-gradient(#2b55c4, #2448a7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
  }

  .btn-primary:hover,
  .btn-primary.zeroclipboard-is-hover {
    color: #fff;
    background-color: #22459e;
    background-image: linear-gradient(#2850b7, #22459e);
  }

  .btn-primary:active,
  .btn-primary.selected,
  .btn-primary.zeroclipboard-is-active {
    background-color: #21439a;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .btn-primary.selected:hover {
    background-color: #1d3a85;
  }

  .btn-purple {
    color: #fff;
    background-color: #5739ce;
    background-image: linear-gradient(#6f55d5, #5739ce);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
  }

  .btn-purple:hover,
  .btn-purple.zeroclipboard-is-hover {
    color: #fff;
    background-color: #5132cb;
    background-image: linear-gradient(#6549d2, #5132cb);
  }

  .btn-purple:active,
  .btn-purple.selected,
  .btn-purple.zeroclipboard-is-active {
    background-color: #4f31c6;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .btn-purple.selected:hover {
    background-color: #472cb2;
  }

  .btn-blue {
    color: #fff;
    background-color: #227efa;
    background-image: linear-gradient(#4593fb, #227efa);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
  }

  .btn-blue:hover,
  .btn-blue.zeroclipboard-is-hover {
    color: #fff;
    background-color: #1878fa;
    background-image: linear-gradient(#368afa, #1878fa);
  }

  .btn-blue:active,
  .btn-blue.selected,
  .btn-blue.zeroclipboard-is-active {
    background-color: #1375f9;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .btn-blue.selected:hover {
    background-color: #0669ed;
  }

  .btn-green {
    color: #fff;
    background-color: #10ac7d;
    background-image: linear-gradient(#13cc95, #10ac7d);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
  }

  .btn-green:hover,
  .btn-green.zeroclipboard-is-hover {
    color: #fff;
    background-color: #0fa276;
    background-image: linear-gradient(#12be8b, #0fa276);
  }

  .btn-green:active,
  .btn-green.selected,
  .btn-green.zeroclipboard-is-active {
    background-color: #0f9e73;
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .btn-green.selected:hover {
    background-color: #0d8662;
  }

  .search {
    z-index: 2;
    transition: padding linear 200ms;
  }

  @media (min-width: 50rem) {
    .search {
      transition: none;
    }
  }

  .search-input-wrap {
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  @media (min-width: 50rem) {
    .search-input-wrap {
      box-shadow: none;
    }
  }

  .search-input {
    color: #e6e1e8;
    background-color: #302d36;
  }

  @media (min-width: 50rem) {
    .search-input {
      background-color: #27262b;
      transition: padding-left linear 200ms;
    }
  }

  .search-input:focus {
    outline: 0;
  }

  .search-input:focus + .search-label .search-icon {
    color: #2c84fa;
  }

  .search-label .search-icon {
    color: #959396;
  }

  .search-results {
    left: 0;
    background-color: #302d36;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  .search-result:hover,
  .search-result.active {
    background-color: #201f23;
  }


  .search-result-doc .search-result-icon {
    color: #2c84fa;
  }

  .search-result-rel-url {
    overflow: hidden;
    color: #959396;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .search-result-previews {
    color: #959396;
    word-wrap: break-word;
    border-left-color: #44434d;
  }

  .search-button {
    bottom: 1rem;
    background-color: #302d36;
    border: 1px solid rgba(44, 132, 250, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  .search-overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 50rem) {
    .search-active .search-input-wrap {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
    }
  }

  .search-active .search-input {
    background-color: #302d36;
  }

  .table-wrapper {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  th,
  td {
    background-color: #302d36;
    border-bottom: 1px solid rgba(68, 67, 77, 0.5);
    border-left: 1px solid #44434d;
  }


  thead th {
    border-bottom: 1px solid #44434d;
  }

  :not(pre, figure) > code {
    background-color: #31343f;
    border: 1px solid #44434d;
  }

  a:visited code {
    border-color: #44434d;
  }

  div.highlighter-rouge,
  div.listingblock > div.content,
  figure.highlight {
    background-color: #31343f;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
  }

  div.highlighter-rouge > button,
  div.listingblock > div.content > button,
  figure.highlight > button {
    opacity: 0;
    top: 0;
    border: 0.75rem solid #31343f;
    background-color: #31343f;
    color: #e6e1e8;
  }

  div.highlighter-rouge > button svg,
  div.listingblock > div.content > button svg,
  figure.highlight > button svg {
    fill: #e6e1e8;
  }

  div.highlighter-rouge > button:active,
  div.listingblock > div.content > button:active,
  figure.highlight > button:active {
    text-decoration: none;
    outline: none;
    opacity: 1;
  }

  div.highlighter-rouge > button:focus,
  div.listingblock > div.content > button:focus,
  figure.highlight > button:focus {
    opacity: 1;
  }

  div.highlighter-rouge:hover > button,
  div.listingblock > div.content:hover > button,
  figure.highlight:hover > button {
    cursor: copy;
    opacity: 1;
  }

  div.highlighter-rouge div.highlight {
    border: 0;
  }

  div.highlighter-rouge pre.highlight,
  div.highlighter-rouge code {
    border: 0;
  }

  div.listingblock div.content {
    border: 0;
  }

  div.listingblock div.content > pre,
  div.listingblock code {
    border: 0;
  }

  figure.highlight pre,
  figure.highlight :not(pre) > code {
    border: 0;
  }

  .highlight .table-wrapper {
    border: 0;
    box-shadow: none;
  }

  .highlight .table-wrapper td,
  .highlight .table-wrapper pre {
    background-color: #31343f;
    border: 0;
  }

  .code-example,
  .listingblock > .title {
    border: 1px solid #44434d;
  }

  .code-example + .highlighter-rouge,
  .code-example + .sectionbody .listingblock,
  .code-example + .content,
  .code-example + figure.highlight,
  .listingblock > .title + .highlighter-rouge,
  .listingblock > .title + .sectionbody .listingblock,
  .listingblock > .title + .content,
  .listingblock > .title + figure.highlight {
    border-right: 1px solid #44434d;
    border-bottom: 1px solid #44434d;
    border-left: 1px solid #44434d;
  }

  code.language-mermaid {
    background-color: inherit;
    border: 0;
  }

  .highlight,
  pre.highlight {
    background: #31343f;
    color: #dee2f7;
  }

  .highlight pre {
    background: #31343f;
  }

  .text-grey-dk-000 {
    color: #959396 !important;
  }

  .text-grey-dk-100 {
    color: #5c5962 !important;
  }

  .text-grey-dk-200 {
    color: #44434d !important;
  }

  .text-grey-dk-250 {
    color: #302d36 !important;
  }

  .text-grey-dk-300 {
    color: #27262b !important;
  }

  .text-grey-lt-000 {
    color: #f5f6fa !important;
  }

  .text-grey-lt-100 {
    color: #eeebee !important;
  }

  .text-grey-lt-200 {
    color: #ecebed !important;
  }

  .text-grey-lt-300 {
    color: #e6e1e8 !important;
  }

  .text-blue-000 {
    color: #2c84fa !important;
  }

  .text-blue-100 {
    color: #2869e6 !important;
  }

  .text-blue-200 {
    color: #264caf !important;
  }

  .text-blue-300 {
    color: #183385 !important;
  }

  .text-green-000 {
    color: #41d693 !important;
  }

  .text-green-100 {
    color: #11b584 !important;
  }

  .text-green-200 {
    color: #009c7b !important;
  }

  .text-green-300 {
    color: #026e57 !important;
  }

  .text-purple-000 {
    color: #7253ed !important;
  }

  .text-purple-100 {
    color: #5e41d0 !important;
  }

  .text-purple-200 {
    color: #4e26af !important;
  }

  .text-purple-300 {
    color: #381885 !important;
  }

  .text-yellow-000 {
    color: #ffeb82 !important;
  }

  .text-yellow-100 {
    color: #fadf50 !important;
  }

  .text-yellow-200 {
    color: #f7d12e !important;
  }

  .text-yellow-300 {
    color: #e7af06 !important;
  }

  .text-red-000 {
    color: #f77e7e !important;
  }

  .text-red-100 {
    color: #f96e65 !important;
  }

  .text-red-200 {
    color: #e94c4c !important;
  }

  .text-red-300 {
    color: #dd2e2e !important;
  }

  .bg-grey-dk-000 {
    background-color: #959396 !important;
  }

  .bg-grey-dk-100 {
    background-color: #5c5962 !important;
  }

  .bg-grey-dk-200 {
    background-color: #44434d !important;
  }

  .bg-grey-dk-250 {
    background-color: #302d36 !important;
  }

  .bg-grey-dk-300 {
    background-color: #27262b !important;
  }

  .bg-grey-lt-000 {
    background-color: #f5f6fa !important;
  }

  .bg-grey-lt-100 {
    background-color: #eeebee !important;
  }

  .bg-grey-lt-200 {
    background-color: #ecebed !important;
  }

  .bg-grey-lt-300 {
    background-color: #e6e1e8 !important;
  }

  .bg-blue-000 {
    background-color: #2c84fa !important;
  }

  .bg-blue-100 {
    background-color: #2869e6 !important;
  }

  .bg-blue-200 {
    background-color: #264caf !important;
  }

  .bg-blue-300 {
    background-color: #183385 !important;
  }

  .bg-green-000 {
    background-color: #41d693 !important;
  }

  .bg-green-100 {
    background-color: #11b584 !important;
  }

  .bg-green-200 {
    background-color: #009c7b !important;
  }

  .bg-green-300 {
    background-color: #026e57 !important;
  }

  .bg-purple-000 {
    background-color: #7253ed !important;
  }

  .bg-purple-100 {
    background-color: #5e41d0 !important;
  }

  .bg-purple-200 {
    background-color: #4e26af !important;
  }

  .bg-purple-300 {
    background-color: #381885 !important;
  }

  .bg-yellow-000 {
    background-color: #ffeb82 !important;
  }

  .bg-yellow-100 {
    background-color: #fadf50 !important;
  }

  .bg-yellow-200 {
    background-color: #f7d12e !important;
  }

  .bg-yellow-300 {
    background-color: #e7af06 !important;
  }

  .bg-red-000 {
    background-color: #f77e7e !important;
  }

  .bg-red-100 {
    background-color: #f96e65 !important;
  }

  .bg-red-200 {
    background-color: #e94c4c !important;
  }

  .bg-red-300 {
    background-color: #dd2e2e !important;
  }

    .site-header {
      border-bottom: 1px solid #44434d;
    }

    pre.highlight {
      border: 1px solid #44434d;
    }


  a.skip-to-main {
    left: -999px;
    overflow: hidden;
    z-index: -999;
  }

  a.skip-to-main:focus,
  a.skip-to-main:active {
    color: #2c84fa;
    background-color: #27262b;
    border: 4px solid #264caf;
    z-index: 999;
  }

  div.opaque {
    background-color: #27262b;
  }

  p.warning,
  blockquote.warning {
    background: rgba(231, 175, 6, 0.2);
    border-left: 4px solid #ffeb82;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.warning::before,
  blockquote.warning::before {
    color: #ffeb82;
  }

  p.warning > .warning-title,
  blockquote.warning > .warning-title {
    color: #ffeb82;
  }

  p.warning-title,
  blockquote.warning-title {
    background: rgba(231, 175, 6, 0.2);
    border-left: 4px solid #ffeb82;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.warning-title > p:first-child,
  blockquote.warning-title > p:first-child {
    color: #ffeb82;
  }

  p.hint,
  blockquote.hint {
    background: rgba(230, 225, 232, 0.2);
    border-left: 4px solid #f5f6fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.hint::before,
  blockquote.hint::before {
    color: #f5f6fa;
  }

  p.hint > .hint-title,
  blockquote.hint > .hint-title {
    color: #f5f6fa;
  }

  p.hint-title,
  blockquote.hint-title {
    background: rgba(230, 225, 232, 0.2);
    border-left: 4px solid #f5f6fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.hint-title > p:first-child,
  blockquote.hint-title > p:first-child {
    color: #f5f6fa;
  }

  p.important,
  blockquote.important {
    background: rgba(2, 110, 87, 0.2);
    border-left: 4px solid #41d693;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.important::before,
  blockquote.important::before {
    color: #41d693;
  }

  p.important > .important-title,
  blockquote.important > .important-title {
    color: #41d693;
  }

  p.important-title,
  blockquote.important-title {
    background: rgba(2, 110, 87, 0.2);
    border-left: 4px solid #41d693;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.important-title > p:first-child,
  blockquote.important-title > p:first-child {
    color: #41d693;
  }

  p.note,
  blockquote.note {
    background: rgba(39, 38, 43, 0.2);
    border-left: 4px solid #959396;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.note::before,
  blockquote.note::before {
    color: #959396;
  }

  p.note > .note-title,
  blockquote.note > .note-title {
    color: #959396;
  }

  p.note-title,
  blockquote.note-title {
    background: rgba(39, 38, 43, 0.2);
    border-left: 4px solid #959396;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.note-title > p:first-child,
  blockquote.note-title > p:first-child {
    color: #959396;
  }

  p.tip,
  blockquote.tip {
    background: rgba(24, 51, 133, 0.2);
    border-left: 4px solid #2c84fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.tip::before,
  blockquote.tip::before {
    color: #2c84fa;
  }

  p.tip > .tip-title,
  blockquote.tip > .tip-title {
    color: #2c84fa;
  }

  p.tip-title,
  blockquote.tip-title {
    background: rgba(24, 51, 133, 0.2);
    border-left: 4px solid #2c84fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.tip-title > p:first-child,
  blockquote.tip-title > p:first-child {
    color: #2c84fa;
  }
  p.caution,
  blockquote.caution {
    background: rgba(221, 46, 46, 0.2);
    border-left: 4px solid #f77e7e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.caution::before,
  blockquote.caution::before {
    color: #f77e7e;
  }

  p.caution > .caution-title,
  blockquote.caution > .caution-title {
    color: #f77e7e;
  }

  p.caution-title,
  blockquote.caution-title {
    background: rgba(221, 46, 46, 0.2);
    border-left: 4px solid #f77e7e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.caution-title > p:first-child,
  blockquote.caution-title > p:first-child {
    color: #f77e7e;
  }

  p.error,
  blockquote.error {
    background: rgba(221, 44, 212, 0.2);
    border-left: 4px solid #f77ef1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.error::before,
  blockquote.error::before {
    color: #f77ef1;
  }

  p.error > .error-title,
  blockquote.error > .error-title {
    color: #f77ef1;
  }

  p.error-title,
  blockquote.error-title {
    background: rgba(221, 44, 212, 0.2);
    border-left: 4px solid #f77ef1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.error-title > p:first-child,
  blockquote.error-title > p:first-child {
    color: #f77ef1;
  }

  p.attention,
  blockquote.attention {
    background: rgba(56, 24, 133, 0.2);
    border-left: 4px solid #7253ed;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.attention::before,
  blockquote.attention::before {
    color: #7253ed;
  }

  p.attention > .attention-title,
  blockquote.attention > .attention-title {
    color: #7253ed;
  }

  p.attention-title,
  blockquote.attention-title {
    background: rgba(56, 24, 133, 0.2);
    border-left: 4px solid #7253ed;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  }

  p.attention-title > p:first-child,
  blockquote.attention-title > p:first-child {
    color: #7253ed;
  }

  .highlight .n {
    color: #dee2f7;
  }

  .highlight .o {
    color: #ef8383;
  }

  .highlight .nl {
    color: #f3efc0;
  }

  .highlight .kt {
    color: #c9c9ee;
  }

  .highlight .fm {
    color: lightblue;
  }

  .highlight .sb {
    color: #8aecec;
  }

  .side-bar + .main .main-header {
    background-color: inherit;
  }
}
