@import "color_schemes/light";

.light-mode {
    --body-background-color: #ffffff;
    --body-heading-color: #2c2c2c;
    --body-text-color: #5c5c5c;
    --link-color: #9b59b6;
    --nav-child-link-color: #5c5c5c;
    --sidebar-color: #f5f5f5;
    --base-button-color: #f7f7f7;
    --btn-primary-color: #d6bfff;
    --code-background-color: #f5f5f5;
    --feedback-color: #e0e0e0;
    --table-background-color: #ffffff;
    --search-background-color: #ffffff;
    --search-result-preview-color: #6d6d6d;
    --border-color: #dcdcdc;
  }

