/* PrismJS 1.20.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+aspnet+autohotkey+bash+c+csharp+cpp+graphql+java+js-extras+kotlin+markup-templating+php+php-extras+python+jsx&plugins=line-numbers+highlight-keywords */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 /* prism live */
 
/* textarea {
	display: none;
} */
 
code[class*="language-"],
pre[class*="language-"] {
	/* color: #ccc; */
	/* background: none; */
	/* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
	/* font-size: 1em; */
	text-align: left;
	/* whitespace pre breaks shit up */
	/* white-space: pre; */
	word-spacing: normal;
	/* word-break: normal;
	word-wrap: normal; */
	/* line-height: 1.5; */
	overflow-wrap: break-word;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	/* padding: 1em; 
	margin: .5em 0; */
	overflow-wrap: break-word;
	display: block;
	overflow-x: auto;
	/* padding: 0.5em; */
	/* margin: .5em; */
} 


pre[class*="language-"], textarea.prism-live {
    /* color: #efdabbde; */
    margin: 0;
    padding: 0 1.8rem;
    /* padding: 0 1.25em; */
}

pre[class*="language-"]:last-child, textarea.prism-live {
	padding-bottom: 1rem;
}
pre[class*="language-"]:first-child, textarea.prism-live {
    padding-top: 1rem;
}

[contenteditable][title]::after {
	content: "\A  " ;
	display: inline;
}


[contenteditable][title] {
	padding-bottom: 0;
}


/* importants necessary finally fixed */
textarea.prism-live {
	max-width: 100% !important;
	white-space: pre-wrap !important;
	overflow-wrap: break-word !important;
	line-height: 1.36em !important;
	overflow: hidden;
}
@-moz-document url-prefix() { 
	textarea.prism-live {
		line-height: 1.3575em !important;	
	}

}
/* 
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
} */

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}


.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	/* color: #999; */
	color: var(--med);
	font-style: italic;
	/* opacity: .75; */
}

.token.punctuation {
	/* color: #ccc; */
	color: var(--slight);
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: var(--orange);
	 /* #e2777a; */
}


.token.dom.variable {
	color: var(--lred);
}

.token.function-name {
	/* color: #6196cc; */
	color: var(--blue);
}

.token.boolean,
.token.number,
.token.function {
	/* color: #f08d49; */
	color: var(--orange);
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol,

.token.property-access

	{
	color: var(--yellow); 
	/* #f8c555; */
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	/* color: #cc99cd; */
	color: var(--purple);
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: var(--teal);
	/* #7ec699; */
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
	color: var(--blue);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic, .token.keyword-for
/* , [class*="keyword-"] */
, .keyword-if
, .keyword-else
, .keyword-while
, .keyword-case
, .keyword-default
, .keyword-return
{
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	/* color: green; */
	color: var(--green);
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid var(--slight);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}

